a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  html {
    font-size: 14px;
  }
  /* @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  } */
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  #HeaderMenu{
    background-color: #fff;  
    /* margin-left: -105px; */
    color:#fff;
    border-right:1px solid #fff;
    border-radius: 4px;   
    width: 100%;
  }
  .HeaderMenuText{
    font-size: medium !important;
  }
  